<html>
    <head>
        <title>Say goodbye to boredom!</title>
        <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.5/css/bulma.css">
        <link rel="stylesheet" type="text/css" href="app.css">
    </head>

    <body>
        <section class="hero is-fullheight">
        <div class="hero-body">
            <div class="container has-text-centered">
                <figure class="image is-128x128 center">
                    <img src="bored_man.png">
                </figure>
                <h1 class="title">Bored?</h1>
                <h2 class="subtitle">Let's find you something to do!</h2>
            </div>
        </div>
        </section>


        <div class="container has-text-centered">
            <!-- Form A (User gives activity criteria) -->
            <form class="searchForm" action="/result" method="GET">
            <div class="columns">
                <div class="fieldTitle column">
                    <p><b>Activity Type:</b></p>
                </div>
                <div class="fieldValue column">
                    <select name="activityType">
                        <option value="education">Education</option>
                        <option value="recreational">Recreational</option>
                        <option value="social">Social</option>
                        <option value="diy">DIY</option>
                        <option value="charity">Charity</option>
                        <option value="cooking">Cooking</option>
                        <option value="relaxation">Relaxation</option>
                        <option value="music">Music</option>
                        <option value="busywork">Busywork</option>
                    </select>
                </div>
            </div>

            <div class="columns">
                <div class="fieldTitle column">
                    <p class="column"><b>Number of people:</b></p>
                </div>

                <div class="rangeSlider fieldValue column">
                    <input class="checkbox" type="checkbox" name="participantIncluded" value="participantsInc">
                    <input name="participants" type="range" min="0" max="10" value="1" class="slider">
                </div>
            </div>

            <div class="columns">
                <div class="fieldTitle column">
                    <p><b>Price Range:</b></p>
                </div>
                <div class="rangeSlider fieldValue column">
                    <input class="checkbox" type="checkbox" name="priceIncluded" value="priceInc">        
                    <input name="price" type="range" min="0" max="10" value="5" class="slider" id="price">
                </div>
            </div>

            <div class="columns">
                <button class="button is-primary column center is-4"><span class="btnText">Submit Form</span></button>

            <!-- Form B (Choose a random activity for the user) -->
                <button class="button is-primary column center is-4" name="randomActivity" value="activity"><span class="btnText">Choose for me!</span></button>
            </form>
            </form>
            </div>
        </div>
    </body>
</html>