html{
    background-color: #209CEE;
}

.center{
    display: block;
    margin: 0 auto;
}

.hero{
    background-color: #209CEE;
}

.title{
    font-size: 5em;
}

.title, .subtitle{
    color: white;
}

.searchForm, .resultDiv{
    width: 70%;
    margin: 5% auto;
    color: white;
}

.button.is-primary{
    display: inline-block;
    margin-bottom: 10px;
}

.resultDiv{
    margin-top:20px;
}

.btnText{
    display: inline-block;
    margin: -5px;
}

@media only screen and (max-width: 768px) {
    .searchForm{
        width: 90%;
    }

    .button.is-primary{
        margin: 5%;
    }
}